<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="seo" translate="label" sortOrder="1000">
            <label>SEO Extensions</label>
        </tab>
        <section id="seo" translate="label" type="text" sortOrder="1012" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Google Merchant Center</label>
            <tab>seo</tab>
            <resource>SEO_GMC::config</resource>
            <group id="cron" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Cron Settings</label>
                <field id="enabled" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="cron_expr" translate="label" type="text" sortOrder="2" showInDefault="1">
                    <label>Cron Expression</label>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
               
            </group>
        </section>
    </system>
</config>
