<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <type name="Magento\Shipping\Controller\Adminhtml\Order\Shipment\Save">
        <plugin
            name="setblue_shippingrestriction_shipment_save"
            type="Setblue\ShippingRestriction\Plugin\ShipmentSavePlugin"/>
    </type>

</config>