<?xml version="1.0"?>
<!-- 
/**
 * SetBlue
 * Copyright (C) 2019 SetBlue <info@setblue.com>
 *
 * @category SetBlue
 * @package SEO_HreflangSitemap
 * @copyright Copyright (c) 2019 SetBlue (https://setblue.com/)
 * @license http://opensource.org/licenses/gpl-3.0.html GNU General Public License,version 3 (GPL-3.0)
 * @author SetBlue <info@setblue.com>
 */ 
 -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Config/etc/config.xsd">
    <default>
        <sitemap>
            <hreflangsitemap>
                <enabled>1</enabled>
                <default_hreflang>en</default_hreflang>
                <store_hreflang_mapping>uk:en-gb,us:en-us,au:en-au,ca:en-ca,sa:ar-sa,in:en-in</store_hreflang_mapping>
                <sitemap_file>pub/sitemap.xml</sitemap_file>
            </hreflangsitemap>
        </sitemap>
    </default>
</config>
