<?xml version="1.0"?>
<!-- 
/**
 * SetBlue
 * Copyright (C) 2019 SetBlue <info@setblue.com>
 *
 * @category SetBlue
 * @package SEO_HreflangSitemap
 * @copyright Copyright (c) 2019 SetBlue (https://setblue.com/)
 * @license http://opensource.org/licenses/gpl-3.0.html GNU General Public License,version 3 (GPL-3.0)
 * @author SetBlue <info@setblue.com>
 */ 
 -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="SEO_HreflangSitemap" setup_version="1.0.0"/>
</config>