<?xml version="1.0"?>
<!--
 Setblue

 @author        Setblue
 @package       Setblue_InfoOrderGrid
 @copyright     Copyright (c) Setblue (https://www.setblue.com/)
-->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/Module/etc/module.xsd">
    <module name="Setblue_InfoOrderGrid" setup_version="1.0.0" schema_version="1.0.0" data_version="1.0.0"/>
</config>
