<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="payment">
            <group id="phonepe_pg" translate="label" type="text" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>PhonePe Payment Gateway</label>
                <field id="logo_header" translate="label" type="note" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <frontend_model>Phonepe\PG\Block\Adminhtml\Config\Logo</frontend_model>
                </field>
                <field id="active" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="client_id" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1">
                    <label>Client ID</label>
                </field>
                <field id="client_secret" translate="label" type="obscure" sortOrder="40" showInDefault="1" showInWebsite="1">
                    <label>Client Secret</label>
                    <backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
                </field>
                <field id="client_version" translate="label" type="text" sortOrder="50" showInDefault="1" showInWebsite="1">
                    <label>Client Version</label>
                </field>
                <field id="environment" translate="label" type="select" sortOrder="60" showInDefault="1" showInWebsite="1">
                    <label>Environment</label>
                    <source_model>Phonepe\PG\Model\Config\Source\Environment</source_model>
                </field>
                <field id="display_mode" translate="label" type="select" sortOrder="65" showInDefault="1" showInWebsite="1">
                    <label>Pay Page Display Mode</label>
                    <source_model>Phonepe\PG\Model\Config\Source\DisplayMode</source_model>
                    <comment>Choose 'IFrame' to open the pay page within your site, or 'Redirect' for a full page redirect.</comment>
                </field>
            </group>
        </section>
    </system>
</config>

