.page-layout-2columns-right .extended-review-button {
    display: none !important;
}

.product-item .price-box .price-container .price-label {
    display: none !important;
}

.page-layout-2columns-right.catalog-product-view .number-of-ratings .rating-number .label {
    display: none;
}

@media (min-width: 769px) {
    .footer--layout-4 .footer.content .block.newsletter .form.subscribe {
        margin-top: 0;
    }
}

.free-shipping-highlight {
    background: #f4ff2c;
    padding: 1px 4px;
}

/* demo only */
@media (max-width: 1024px) {
    .ox-pro.-bottom {
        bottom: 90px;
        left: 20px;
    }
}

/* demo only hide qty in quickview */
.ox_quickview-catalog_product-view .box-tocart .field.qty {
    display: none;
}

.box-tocart .input-text.qty {
    font-size: 15px;
    font-weight: 500;
}
/* Marquee start--------------------------*/
.marquee-wrapper {
    text-align: center;
    overflow: hidden;
    padding: 10px;
}

.marquee-wrapper .container {
    overflow: hidden;
}

.marquee-inner span {
    float: left;
    width: 50%;
}

.marquee-wrapper .marquee-block {
    --total-marquee-items: 4;
    width: calc(25% * (var(--total-marquee-items)));
    overflow: hidden;
    box-sizing: border-box;
    position: relative;
}

.marquee-inner {
    display: block;
    width: 200%;
    position: relative;
}

.marquee-inner.to-right {
    animation: marqueeRight 25s linear infinite;
}

.marquee-item {
    width: 25%;
    height: auto;
    display: flex;
    margin: 0 0px;
    float: left;
    transition: all .2s ease-out;
    justify-content: center;
    padding: 0px 10px;
}

.marquee-item img {
    width: 32px;
    height: 32px;
    margin: 0 8px 0 0;
}
@media only screen and (max-width: 768px) {
.marquee-item img {
    width: 28px;
    height: 28px;
    margin-top: 3px;
}
p.marquee-text {
    font-size: 11px;
    text-align: left;
}
}

.marquee-item .content-wrapper h6 {
    text-align: left;
}

p.marquee-text {
    align-content: center;
}

@keyframes marqueeLeft {
    0% {
        left: 0;
    }

    100% {
        left: -100%;
    }
}

@keyframes marqueeRight {
    0% {
        left: -100%;
    }

    100% {
        left: 0;
    }
}

@media only screen and (max-width: 991px) {

    .centered-iblocks.-stretch .iblock:after,
    .centered-iblocks.-stretch>div:after {
        display: none;
    }

    .marquee-inner .icon-wrapper svg {
        width: 40px;
        height: 30px;
    }

    .marquee-item.iblock {
        padding: 15px;
    }

    .marquee-item.iblock .content-wrapper {
    max-width: 64%;
    }

    .marquee-item.iblock .icon-wrapper {
        margin-right: 10px !important;
    }

    .whatsapp-button {
        padding: 10px 10px !important;
        font-size: 14px;
        line-height: 25px;
    }

    .marquee-inner.to-left {
        animation: marqueeLeft 25s linear infinite;
    }

    .marquee-wrapper .marquee-block {
        width: calc(50%*(var(--total-marquee-items)));
        margin-bottom: 0px;
    }
}

p.marquee-text {
    align-content: center;
    margin: 0 !important;
}

/* Marquee end----------------------------------------*/

@media only screen and (max-width: 768px) {

 .row2-mobile{
    display: block !important;
     padding: 0px !important;
 }   
.mobile-50 {
    width: 50%;
    display: inline-block;
    padding: 5px;
    margin-bottom: 0px !important;
}
.home-box-banner{
    padding: 5px !important;
}
}

/* all page css ------------------------------------------------------------------------------------------------------------------------*/

.top-bar:before{
    background-color: #3f3785 !important;
}
.top-bar .topline-block {
    color: #fff;
    font-size: 14px !important;
    font-family: 'Poppins';
}

.faq .ox-toggle[class*="medium"] .ox-toggle-content {
    padding-left: 50px;
    margin-top: 0px;
    text-align: justify;
}

.faq .ox-toggle-content {
    margin-bottom: 0px;
}

.faq .ox-toggle-content p {
    padding-top: 10px;
    font-weight: 300;
}

.page-title-wrapper .page-title {
    text-align: center;
    font-size: 30px;
}

.container-small {
    max-width: 1400px;
    margin: auto;
    padding: 0px 20px;
}

.block-minicart .checkout {
    background-color: #94ac4a;
}

.block-minicart .checkout:after {
    background-color: #869C43;
}

a.button.quick-view.outline.ox-quickview-button {
    border: 1px solid #94ae3f;
}

button.action.tocart.primary:after {
    background-color: #3e3684 !important;
}

button.action.tocart.primary {
    background-color: #fff;
    border: 1px solid #94ad3f;
    color: #000;
}

button.action.tocart.primary:hover {
    color: #fff;
}

button.action.tocart.primary:after {
    background-color: #98ae42;
}

.related .owl-nav button.owl-next,
.owl-nav button.owl-prev {
    background-color: transparent !important;
}

.related .owl-nav button.owl-next:after,
.owl-nav button.owl-prev:after {
    background-color: transparent;
}

.breadcrumbs a:hover,
.reviews-actions a:hover {
    color: #8f8f8f;
}

.magento-payments-review-discount>.title,
.cart-summary .block>.title,
.opc-block-summary .items-in-cart>.title,
.checkout-payment-method .payment-option._collapsible>.title,
.paypal-review-discount .block>.title {
    padding: 20px 0;
}

.magento-payments-review-discount>.title:after,
.cart-summary .block>.title:after,
.opc-block-summary .items-in-cart>.title:after,
.checkout-payment-method .payment-option._collapsible>.title:after,
.paypal-review-discount .block>.title:after {
    top: 20px;
}

.account .box-actions .action {
    border: 1px solid #3e3684 !important;
    color: #3e3684 !important;
}

.secondary a.action.back {
    border: 1px solid #3e3684;
    color: #3e3684 !important;
}

.message.info:before {
    background: #3e3684;
}

.breadcrumbs {
    padding-bottom: 20px;
}

.column.main .block .title strong,
.block .title strong,
.block-title strong {
    font-weight: 400 !important;
}

.minicart-btn--minimal .minicart-wrapper .action.showcart span.qty {
    background-color: transparent !important;
    top: -4px !important;
    left: 10px !important;
    width: 15px !important;
}

.header__item-wishlist .header__item-badge {
    background-color: transparent !important;
    top: 12px;
    left: 15px;
    width: 15px;
}
 
#minicart-content-wrapper a.action.viewcart {
    background-color: #423882;
    color: #fff;
}
#minicart-content-wrapper a.action.viewcart:hover {
    background-color: #423882 !important;
    color: #000000 !important;
    border: 1px solid #423882;
}
.left-right-padding {
    padding-left: 20px;
    padding-right: 20px;
}

h2 {
    font-size: 2.4rem;
}
h3 {
    font-size: 2.2rem;
}

.minicart-items .product-item .product-item-name strong,
.minicart-items .product-item .product-item-name a {
    font-weight: 500;
    line-height: 20px;
}



@media only screen and (min-width: 640px) {
.products-grid__big-btns .actions-primary :is(.action, .button) {
        height: 42px;
}
}
    
@media only screen and (max-width: 768px) {

    h1.page-title {
        font-size: 24px !important;
    }

    .page-title.sb-category-title {
        font-size: 22px !important;
    }

    .minicart-btn--minimal .minicart-wrapper .action.showcart span.qty {
        top: 6px;
        left: 20px;
    }

    .header--layout-4 .header__content .minicart-wrapper .action.showcart {
        padding-right: 0px;
    }

    .left-right-padding {
        padding-left: 10px;
        padding-right: 10px;
    }

    h2 {
        font-size: 22px;
    }
}

@media only screen and (max-width: 1026px) {
    .product.data.items {
        margin-bottom: 20px;
    }
}

@media only screen and (min-width: 1025px) {
    .ox-megamenu-navigation>.level0>.ox-mm-a-wrap a:before {
        background-color: #94ad3f;
    }
}


/* header css ------------------------------------------------------------------------------------------------------------------------*/

@media only screen and (min-width: 1025px) {
.logo__container {
    min-height: 68px;
}
}

.animated-text--masked:after {
    display: none;
}

.ox-slideout .header__search-wrapper .search_form_wrap>.actions .action.search,
.ox-slideout .header__search-wrapper form>.actions .action.search {
    font-size: 20px;
    padding: 0px;
    min-width: 80px;
}

.ox-slideout .header__search-wrapper form input {
    font-size: 20px;
}

.ox-slideout .header__search-wrapper form .label {
    font-size: 20px;
}

.flashing-cursor {
    height: 24px;
    width: 1px;
}

.ox-slideout .header__search-wrapper form .field.search {
    padding: 10px;
}

/* for Empty cart & wishlist ----------- */

.ox-dropdown-hover {
    padding:0px !important;
}
.ox-dropdown-hover .block-minicart .block-content .items-total,
.ox-dropdown-hover .block-minicart .block-content .minicart-items-wrapper,
.ox-dropdown-hover .block-minicart .block-content .dropdown-bottom-wrapper,
.ox-dropdown-hover .block-wishlist .block-content .items-total,
.ox-dropdown-hover .block-wishlist .block-content .product-items,
.ox-dropdown-hover .block-wishlist .block-content .dropdown-bottom-wrapper
{
    padding-left: 30px;
    padding-right: 30px;
}
.ox-dropdown-hover .block-content ul.header.links {
    padding: 30px;
}
.ox-dropdown-hover .block-minicart .block-content .empty-cart-wrapper,
.ox-dropdown-hover .block-wishlist .block-content .empty-wishlist-wrapper
{
    display:none;
}

/* for Empty cart & wishlist ----------- */

@media only screen and (max-width: 639px) {
    .ox-dropdown-hover .block-minicart .block-content .items-total,
    .ox-dropdown-hover .block-minicart .block-content .minicart-items-wrapper,
    .ox-dropdown-hover .block-minicart .block-content .dropdown-bottom-wrapper,
    .ox-dropdown-hover .block-wishlist .block-content .items-total,
    .ox-dropdown-hover .block-wishlist .block-content .product-items,
    .ox-dropdown-hover .block-wishlist .block-content .dropdown-bottom-wrapper
    {
        padding-left: 20px;
        padding-right: 20px;
    } 

}
@media only screen and (min-width: 991px) {
    .ox-slideout-top {
        height: 125px !important;
    }
}

.cart-container .checkout-methods-items {
    padding-top: 0;
}

.block-customer-login form .action.remind::after {
    background-color: transparent !important;
}

.block-customer-login form .action.remind span {
    color: #000 !important;
}

.block-customer-login form .action.action-remind::after {
    background-color: transparent !important;
}

.block-customer-login form .action.action-remind span {
    color: #000 !important;
}

.dropdown-bottom-wrapper .price {
    font-size: 22px !important;
}
@media only screen and (max-width: 1370px) {

    .menu-style-4 .page-header .ox-megamenu>ul>.level0>.ox-mm-a-wrap .level-top,
    .menu-style-4 .page-header .ox-megamenu>ul>.level0>.ox-mm-a-wrap a {
        padding: 0px 11px !important;
        font-size: 14px !important;
    }

    .page-header i.ox-menu-arrow {
        width: 18px;
    }

}


@media only screen and (max-width: 1024px) {
.page-header .top-bar.flex-row.topline-3col{
    display: block !important;
}
.page-header .top-bar .topline-block {
    margin-top: 7px !important;
    font-size: 13px !important;
}
}

/* footer css ------------------------------------------------------------------------------------------------------------------------*/

.page-footer{ 
    background-color: #231d3d !important;
    background-image: url(https://oticamart.com/media/wysiwyg/footer-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
}
.footer.content {
    max-width: 1750px !important;
    width: 100% !important;
}
.footer-main,
.footer-side { padding: 30px 40px;}

.footer-block-content-after {
    float: left;
    width: 100%;
    margin: 10px 0 0;
    padding: 25px 20px 10px 0px;
    border-top: 1px solid rgba(255, 255, 255, .15);
}

@media only screen and (max-width: 768px) {

    .footer-logo img {
        display: none !important;
    }

    .footer-side .spacer-medium {
        height: 20px;
    }

    .footer-side {
        text-align: center;
    }

    .footer-block-content-after {
        border-top: 0;
        padding: 0;
        margin-top: 10px;
    }

    .footer-main,
    .footer-side {
        padding: 20px 30px;
    }
}

.footer-main h4 {
    font-size: 18px;
    margin-bottom: 15px;
    font-weight: 400;
}

.footer-main {
    background-color: transparent !important;
}

h4.accordion-toggle.mobile-only {
    border-bottom: 1px solid #6a6a6a;
    padding-bottom: 15px;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1px;
}

.ox_bnav .icon {
    position: relative;
}

.ox_bnav .header__item-badge {
    top: -9px;
    left: -4px;
}

.athlete2-social-icon {
    width: 28px !important;
    font-size: 20px !important;
}


/* Home Slider css ------------------------------------------------------------------------------------------------------------------------*/
.banner-slider .slick-slide img {
    max-width: 100%;
    width: 100%;
}

.banner-slider .slick-dots li.slick-active button {
    background-color: #3E3684;
}

.banner-slider .slick-dots li button {
    background-color: #ccc;
    border: none;
    border-radius: 30px;
    width: 6px;
    height: 6px;
}

.banner-slider .slick-dots li {
    margin: 0 4px;
}

@media only screen and (min-width: 768px) {
    .banner-slider {
        padding: 0px 20px;
    }
}

/* Home page css ------------------------------------------------------------------------------------------------------------------------*/

@media only screen and (max-width: 768px) {

    .banner-slider {
        padding: 0px 10px;
        margin-top: -10px;
    }

    .ox-cats-widget .ox-cats-grid .ox-cat.col {
        padding: 2px;
    }

    .ox-cats-widget .ox-cats-grid {
        padding: 0px 10px;
    }

    .ox-cats-widget .ox-cats {
        gap: 0;
    }
}

/* listing & details css ------------------------------------------------------------------------------------------------------------------------*/

.towishlist:hover .a2-icon-wishlist {
    fill: #6d891b;
    stroke: #6d891b;
}

.athlete2-icon-share:hover:before {
    color: #7a9b1e;
}
.product-grid-overlay {
    background-color: rgb(50 171 233 / 4%) !important;
}
.stock.available {
    display: none;
}
.product-info-main .product.attribute.sku {
    font-size: 14px;
    color: #000000;
    margin-top: 10px;
}
.product-info-main .product.attribute.overview {
    margin: -5px 0 0px !important;
}
.swatch-opt {
    margin: 0px 0 18px !important;
}
.product-info-main .product-options-wrapper {
    margin-bottom: 15px !important;
}
.product-info-price {
    margin-bottom: 18px !important;
    display: block;
}
.product-reviews-summary .reviews-actions a {
    font-family: 'Poppins';
    font-size: 12px;
}
.product-info-main .product-add-form {
    margin-bottom: 10px !important;
}

.product-info-main .swatch-option.text {
    font-weight: 500;
    font-family: 'Poppins';
}

.price-box .special-price .price {
    color: #ff0000 !important;
}

.catalog-product-view .product-info-main .special-price .price{
    margin-right: 10px;
}

.products-grid__details-bottom .product-item-info {
    gap: 0px;
}

.product-item-details.-footer .product-item-actions {
    margin-top: 0px;
}
.product-item-details.-footer {
    padding-top: 0px;
}

.page-layout-1column-fullwidth.catalog-product-view .page-main, .page-main{
padding-bottom: 30px;
}

.pd-details-w {
    display: flex;
    width: 100%;
    justify-content: space-between;
    gap: 40px;
}
.pd-details-list {
    width: 50%;
}
.pd-details-list ul li {
    list-style: disc;
    line-height: 26px;
    padding: 12px 12px;
    font-size: 14px;
}
.pd-details-list ul li::marker {
  color: #8fae30;
}

.pd-details-list ul li:nth-child(odd) { background: #f4f4f4; }

p.short-dec-pd {
    text-align: justify;
    color: #000;
    margin-bottom: 15px;
}
.pd-details-list h4 {
    font-size: 21px;
    color: #000;
    font-family: 'Outfit';
}
.pd-details-gen p {
    margin-bottom: 12px;
    font-size: 14px;
}
.pd-details-gen {
    text-align: justify;
    width: 50%;
}
.pd-details-gen h4 {
    font-size: 21px;
    color: #000;
    font-family: 'Outfit';
}

.js-tab-link strong {
    text-decoration: underline;
    font-size: 15px;
}

.catalog-product-view span.price-label {
    display: none !important;
}

a#mode-list {
    display: none;
}

.price-box.price-final_price {
    align-items: center;
    text-align: center;
    display: contents;
}
.save-discount-badge{
    background-color: #f21313;
    color: #fff;
    padding: 3px 6px;
    margin-left: 8px;
    border-radius: 5px;
    font-size: 13px;
    font-weight: 600;
}

.products-grid .product-item-actions .actions-primary, .products-grid .product-item-actions .actions-secondary{
    padding: 8px;
}

@media only screen and (max-width: 991px) {
.pd-details-w {
    display: block;
}
.pd-details-gen {
    width: 100%;
}
.pd-details-list {
    width: 100%;
}
}

@media only screen and (min-width: 1025px) {

    .tabs-style--minimal .product.data.items>.item.title.active>.switch:before {
    background-color: #3f3784;
}

    .product.info.detailed{
    margin-bottom: 0px !important;
   }


    .athlete2_product_info__wrapper {
        margin-bottom: 18px !important;
    }

    .product.info.detailed {
        margin-bottom: 20px;
    }
}

.column.main .block .title strong,
.block .title strong,
.block-title strong {
    font-size: 28px;
}

legend.legend.review-legend {
    font-size: 26px !important;
    margin-bottom: 0 !important;
}

.review-fields-wrapper fieldset.fieldset.additional_info {
    margin-bottom: 0px;
}

.review-add {
    margin-bottom: 0px;
}

.box-tocart .tocart {
    background-color: #94ad3f !important;
    color: #fff !important;
    background: linear-gradient(180deg,rgba(167, 207, 35, 1) 0%, rgba(104, 128, 27, 1) 100%);
}

.products__listing-wrapper .product.actions.product-item-actions.show-text {
    padding: 0px 15px 15px 15px;
}

.ox-layerednavigation-product-list-wrapper .product-item-details.-footer .product-item-actions {
    padding: 0px 15px 15px 15px;
}


.catalog-category-view .page-main {
    display: none;
}

.catalog-category-view #maincontent {
    display: block;
    padding: 0;
}

.page-with-filter .page-main {
    padding-top: 0;
}

.catalog-product-view .page-main {
    padding-top: 0;
    padding-bottom: 20px;
}

.products-grid .product-item .product-item-name a {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    font-size: 14px;
    line-height: 20px;
    margin-top: 8px;
}

.products-grid__big-btns .actions-primary :is(.action, .button) {
    font-size: 14px;
}

.product-info-main .page-title-wrapper .page-title {
    line-height: 30px;
    text-align: left;
    font-size: 20px;
}

.page-main>.a2-qn {
    margin-top: 0 !important;
}

.filter-options-title {
    font-size: 18px;
}

.page-title.sb-category-title {
    font-size: 26px;
    margin-top: 25px;
    margin-left: 25px;
    margin-bottom: 10px;
}

ul.sb-submenu-ul {
    max-width: 1740px;
    margin: auto;
}

.sb-submenu-tab {
    background-color: #E3F2FB;
}

li.sb-submenu-li a {
    display: block;
    padding: 16px 20px;
    color: #333;
    width: max-content;
}

ul.sb-submenu-ul li {
    display: inline-block;
}

@media only screen and (min-width: 1025px) {
        .menu-style-4 .page-header .ox-megamenu>ul>.level0>.ox-mm-a-wrap .level-top, .menu-style-4 .page-header .ox-megamenu>ul>.level0>.ox-mm-a-wrap a{
            padding: 6px 12px !important;
        }
}


@media only screen and (max-width: 1024px) {

    .ox-nav-sections-item-content {
        padding: 15px;
    }

    li.sb-submenu-li a {
        padding: 14px 8px;
    }

    .sb-submenu-tab {
        width: 100%;
        scroll-behavior: smooth;
        -webkit-overflow-scrolling: touch;
        scroll-snap-type: x mandatory;
        scrollbar-width: thin;
        scrollbar-color: grey transparent;
        padding-bottom: 0px;
        overflow-x: auto;
    }

    ul.sb-submenu-ul {
        display: flex;
        flex-wrap: nowrap;
        gap: 20px;
    }
}

@media only screen and (max-width: 991px) {
    .product-info-main .page-title-wrapper .page-title {
        font-size: 20px !important;
        line-height: 30px;
    }
}
.otica-price-main .discount-badge {
    margin-left: 7px;
    background-color: #d41a23;
    padding: 4px;
    font-size: 13px;
    font-weight: 600;
    color: #fff;
    border-radius: 0px;
    line-height: 12px;
}
.minicart-items .secondary {
    width: auto;
}

@media only screen and (max-width: 600px) {
.otica-price-main span.old-price {
    font-size: 11px;
}
.otica-price-main .discount-badge {
    font-size: 11px;
}
}

/* cart & checkout page css ------------------------------------------------------------------------------------------------------------------------*/

.cart.item .product-item-name a {
    font-size: 15px;
}
tr.grand.totals .price {
    font-size: 28px !important;
    color: #3e3684;
}

button.action.primary.checkout {
    background: linear-gradient(180deg, rgba(167, 207, 35, 1) 0%, rgba(104, 128, 27, 1) 100%);
}

p.cart-empty-big-text {
    font-size: 24px;
}

.summary.title {
    font-size: 24px;
}

.cart.page-title-wrapper .page-title {
    font-size: 30px;
}

table.table-totals tbody tr.grand.totals .price,
table.totals tbody tr.grand.totals .price {
    font-size: 38px;
    font-weight: 600;
}

.cart a.action.continue {
    border: 1px solid #3f3785 !important;
    color: #ffffff !important;
    background-color: #3f3785 !important;
}

.cart a.action.continue:hover {
    color: #3f3785 !important;
}

.form-discount .actions-toolbar {
    margin-top: 0px;
}

.cart.item .actions-toolbar a {
    background-color: #ffffff !important;
    border-bottom: 1px solid #3e3684 !important;
    color: #3e3684 !important;
}

button.action.update {
    border: 1px solid #3e3684;
}

.cart-summary .title:hover:after {
    color: #000 !important;
}

.cart.page-title-wrapper {
    padding-bottom: 10px;
    padding-top: 0px;
}

.cart-summary>.title {
    margin-top: 0;
    margin-bottom: 15px;
}

button.action.primary.checkout {
    background-color: #94ad3f;
}

button.action.primary.checkout:after {
    background-color: #869C43;
}

button.button.action.continue.primary {
    background-color: #94ad3f;
}

button.button.action.continue.primary:after {
    background-color: #94ad3f;
}

.checkout-index-index .page-main {
    padding: 20px 20px !important;
    max-width: 1710px;
}

.checkout-index-index .am-checkout .checkout-header {
    margin: 0 0 15px;
}

.checkout-index-index .am-checkout .checkout-header .title {
    font-size: 32px;
    margin-bottom: 10px;
}

.am-checkout .checkout-payment-method .step-title,
.am-checkout .am-opc-wrapper .step-title {
    font-size: 20px;
    border-bottom: none !important;
    margin-bottom: 20px;
}

button.action.primary.checkout.amasty {
    background-color: #94AC4A !important;
}

.checkout-index-index .am-checkout .checkout-block {
    padding: 25px !important;
}

.checkout-index-index .logo__container {
    margin-left: 10px !important;
}

.checkout-index-index button.action.action-login.secondary {
    color: #413781;
    border: 1px solid #413781;
}

.checkout-index-index .logo__container {
    display: inline;
    min-height: 15px;
}

.checkout-index-index .authentication-wrapper {
    top: 22px !important;
    z-index: 9 !important;
}

.checkout-index-index .column.main .opc-block-summary .product-item {
    padding-bottom: 20px;
}

.checkout-index-index .opc-block-summary .items-in-cart {
    margin-bottom: 20px;
}

.am-checkout .checkout-payment-method .payment-methods .actions-toolbar .primary.action {
    margin: 0px 0 0;
}

.checkout-index-index .am-checkout .additional-options {
    margin: 0px;
}

.checkout-index-index .opc-block-summary .table-totals {
    margin-bottom: 20px;
}

.checkout-index-index .form-shipping-address .fieldset>.field {
    margin: 0 0 10px;
}

#customer-email-fieldset .field.required {
    margin-bottom: 10px;
}

.payment-option._collapsible.opc-payment-additional.discount-code._active {
    margin-bottom: 20px;
}

.checkout-payment-method .payment-option-title {
    padding: 22px 0;
}

.checkout-payment-method .payment-option-title:after {
    top: 20px;
}

.checkout-index-index .am-checkout .checkout-header .description {
    font-size: 16px;
}

.checkout-index-index .product-item .price {
    color: #000;
    font-size: 17px;
}

button.action.primary.checkout.amasty {
    background: linear-gradient(180deg, rgba(167, 207, 35, 1) 0%, rgba(104, 128, 27, 1) 100%) !important;
}

@media only screen and (max-width: 768px) {
    .checkout-index-index .logo {
    max-width: 148px;
    margin: auto;
}
    .checkout-index-index .authentication-wrapper {
        position: relative;
        width: 100%;
        left: 0;
        margin-bottom: 20px;
    }

    .checkout-index-index .authentication-wrapper button {
        width: 100%;
    }

    .checkout-index-index .page-main {
        padding: 10px 10px !important;
    }

    .checkout-index-index .am-checkout .checkout-header {
        margin: 0 0 0px;
    }

    .checkout-index-index .am-checkout .checkout-header .title {
        font-size: 26px;
        margin-bottom: 0;
    }

    .checkout-index-index .am-checkout .checkout-header .description {
        display: none;
    }
}

.checkout-cart-index .shipping-banner,
.checkout-index-index .shipping-banner
 {
    background-color: #eceaff;
    justify-content: space-between;
    align-items: center;
    color: #000;
    padding: 15px;
    border-radius: 0;
    margin-top: 10px;
}
.checkout-cart-index .shipping-info,
.checkout-index-index .shipping-info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0;
    align-items: center;
}
.checkout-cart-index .shipping-banner .details,
.checkout-index-index .shipping-banner .details {
    font-size: .9em;
    line-height: 20px;
    text-align: left;
}
.checkout-cart-index span.details-text,
.checkout-index-index span.details-text {
    display: block;
    line-height: 20px;
}
.checkout-cart-index .bs__coupon_apply span,
.checkout-index-index .bs__coupon_apply span {
    display: block;
    background: #413781;
    color: #fff;
    padding: 10px 26px;
    border-radius: 0px;
    cursor: pointer;
}
.checkout-cart-index .coupon-applied-msg,
.checkout-index-index .coupon-applied-msg {
    display: flex;
    align-items: center;
    border-radius: 0;
    padding: 8px;
    background-color: #f3f3f3;
    margin-top: 15px;
}
.checkout-cart-index .coupon-applied-msg p,
.checkout-index-index .coupon-applied-msg p {
    margin-bottom: 0;
}
.checkout-cart-index .applied-icon,
.checkout-index-index .applied-icon {
    height: 26px;
    margin-right: 8px;
}
.checkout-index-index .form-discount {
    position: relative;
}
.coopen-box {
    background-color: #d5dfb6 !important;
    padding: 12px 12px !important;
}
.form-discount .action.action-apply {
    background-color: #413781 !important;
    color: #fff !important;
}

.checkout-index-index button.action.action-apply{
    position: relative;
    right: 0;
    background-color: transparent;
    color: #43387e;
    top: 0;
    margin-top: 0 !important;
    width: 100% !important;
}
.opc-wrapper form.form-discount .payment-option-inner {
    padding-right: 0px;
}
.checkout-index-index button.action.action-apply::after {
    background: none !important;
}
.checkout-index-index button.action.action-apply:hover::after {
    background: none !important;
}
.checkout-index-index .block.items-in-cart.active .title::after {
    opacity: 0 !important;
}
.checkout-index-index .opc-block-summary .product-item .product-item-name-block {
    padding-right: 15px;
}
.coupon-description h4 {
    margin-bottom: 5px;
}
.coopen-box p {
    margin-bottom: 0;
    white-space: normal !important;
}
.payment-option-title {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 9px;
}

/* login-register page css ------------------------------------------------------------------------------------------------------------------------*/



.block-new-customer .block-title strong {
    font-size: 2rem;
    font-weight: 500 !important;
}
strong#block-customer-login-heading {
    font-size: 2rem;
    font-weight: 500 !important;
}

.customer-account-create .fieldset {
    margin: 0 0 10px;
}

.form.create.account>.fieldset>.legend {
    margin-bottom: 25px;
}

.customer-account-create .fieldset>.field {
    margin: 0 0 20px;
}

.customer-account-create h1.page-title {
    font-size: 30px;
    margin-bottom: 25px;
    padding-top: 30px;
    padding-bottom: 0px;
}

@media only screen and (max-width: 991px) {
    .customer-account-create h1.page-title {
        font-size: 26px;
        line-height: 34px;
    }
}

/* after-login my account css ------------------------------------------------------------------------------------------------------------------------*/
.account h1.page-title {
    font-size: 32px;
}
/* submeny scrollbar css ------------------------------------------------------------------------------------------------------------------------*/
.sb-submenu-tab ul.sb-submenu-ul {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    gap: 10px;
    list-style: none;
    padding: 0;
    margin: auto;
    width: 100%;
    max-width: 1675px;
    /* Firefox thin scrollbar */
    scrollbar-width: thin;
    scrollbar-color: #aaa transparent;
}

/* Chrome, Edge, Safari scrollbar */
.sb-submenu-tab ul.sb-submenu-ul::-webkit-scrollbar {
    height: 3px; /* Very small height */
}

.sb-submenu-tab ul.sb-submenu-ul::-webkit-scrollbar-track {
    background: transparent;
}

.sb-submenu-tab ul.sb-submenu-ul::-webkit-scrollbar-thumb {
    background: #aaa;
    border-radius: 2px;
}

.sb-submenu-tab ul.sb-submenu-ul::-webkit-scrollbar-thumb:hover {
    background: #888;
}

.sb-submenu-tab li {
    white-space: nowrap;
    flex: 0 0 auto;
}
/*checkout summary css*/
span.offer-price {
    text-decoration: line-through;
    color: rgb(159, 159, 159);
    text-align: center;
}
.checkout-block.checkout-payment-method {
    display: none;
}

.product-bar.show {
    padding: 15px 0;
}

@media only screen and (max-width: 768px) {

.products-grid .product-item .product-item-name a {
    font-size: 12px !important;
    line-height: 18px !important;
}

.catalog-product-view .product-info-price .price-wrapper .price {
    font-size: 20px !important;
}


.product-bar .price-wrapper .price {
    font-size: 18px !important;
}

.price-wrapper .price {
    font-size: 14px !important;
}
.ox-product-label-sale {
    font-size: 12px;
}

.products-grid__big-btns .actions-primary :is(.action,.button) {
    font-size: 12px !important;
}
}

.ox-product-label-sale {
    color: #fff !important;
    background: #cc1717 !important;
}

.ox-product-label-bestseller {
    background: #7c9c1a !important;
}

div#a2-qn {
    display: none;
}

#toTop{
    width: 50px !important;
    height: 50px !important;
    border-radius: 50px !important;
    border: 1px solid #3e3684 !important;
}


.otica_recently_viewed .title-h3.block-title.title {
    text-align: center;
}
.otica_recently_viewed .products-grid .owl-carousel .owl-stage {
    justify-content: center;
}

div:has(> .is-empty) {
  display: none !important;
}

.footer.content .block.newsletter .title {
    font-size: 28px !important;
    font-weight: 500;
    margin-bottom: 12px;
    color: #fff;
}
.footer-newsletter-wide .footer.content .block.newsletter:before, .footer--layout-1 .footer .block.newsletter {
    background-color: #94ad40 !important;
}
.block_newsletter_info label.label {
    color: #fff !important;
}
.footer .block.newsletter.inputs-style--underlined input {
    border-color: #fff !important;
}
.footer .block.newsletter.inputs-style--underlined input:focus{
    border-color: #fff !important;
}
.footer .block.newsletter .action.primary {
    background-color: #231D3D !important;
}
.block.newsletter.inputs-style--underlined .newsletter .control:before, .block.newsletter.inputs-style--underlined .control:before {
    color: #fff !important;
}
.footer .block.newsletter input {
    color: #fff !important;
}
input#newsletter::placeholder {
    color: #fff !important;
}
.footer-newsletter-wide .footer.content .block.newsletter {
    padding-top: 20px !important;
    padding-bottom: 20px !important;
}
.footer-newsletter-2col .footer.content .block.newsletter {
    min-height: 130px !important;
}

@media only screen and (max-width: 768px) {
.ox-slideout-top {
    height: 400px !important;
}

.ox-slideout .header__search-wrapper {
    align-items: flex-start !important;
}

.footer-newsletter-wide .footer.content .block.newsletter {
    text-align: center;
}
.footer.content .block.newsletter .title {
    font-size: 20px !important;
}
.block_newsletter_info label.label {
    font-size: 12px;
}
}


.ox-slideout .header__search-wrapper .search_form_wrap>.actions .action.search, .ox-slideout .header__search-wrapper form>.actions .action.search {
    font-size: 16px !important;
    min-width: 60px !important;
    height: 42px;
}

.ox-slideout .header__search-wrapper form input {
    font-size: 16px !important;
}
.ox-slideout .header__search-wrapper form .field.search {
    padding: 0px !important;
}



/* Product details faq ------------------------------------------------------------------------------------------------------------------------*/
.otica_faq h3[data-content-type="heading"] {
 background-color: #f4f4f4;
    padding: 18px 16px;
    margin: 4px 0;
    border-radius: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: background-color .3s;
    font-size: 15px;
    font-weight: 500;
}

.otica_faq h3[data-content-type="heading"]:hover {
  background-color: #d4edb3;
}

.otica_faq h3[data-content-type="heading"].active {
  background-color: #c6e49d;
}

.otica_faq .faq-toggle {
  font-weight: bold;
  font-size: 18px;
}

.otica_faq div[data-content-type="text"] {
  display: none;
  background: #f9f9f9;
  padding: 12px 16px;
  border-left: 3px solid #c6e49d;
  border-radius: 0 0 6px 6px;
  margin-bottom: 8px;
}

.product.video-faq {
    display: flex;
    width: 100%;
    gap: 40px;
    justify-content: center;
    margin-bottom: 40px;
}

.product-video-wrapper {
    width: 60%;
    margin: auto;
}
.product-faq h3 {
    font-size: 15px;
}

.product-faq h4 {
    font-size: 21px;
    color: #000;
    font-family: 'Outfit';
}

@media only screen and (max-width: 991px) {

    .product.info.detailed {
    margin-bottom: 15px !important;
}
    .product-video-wrapper {
        width: 100%;
        margin-bottom: 25px;
    }
    .product-faq{
        width: 100%;
    }
    .product.video-faq {
    display: block;
    
}
}

.tabs-style--minimal .product.data.items>.item.content {
    margin-bottom: 0px !important;
    padding-bottom: 0px !important;
}


@media only screen and (max-width: 768px) {
        .product-add-form .box-tocart > .fieldset {
            flex-wrap: nowrap !important;
            width: 80% !important;
            display: flex !important;
        }
        .product-add-form {
            position: relative !important;
        }
        .product-add-form .product-addto-links{
            position: absolute;
            right: 0;
            top: 15px;
        }
        .product-add-form .product-options-bottom .box-tocart.actions--right-to-cart .actions .action.tocart {
            margin-bottom: 0px !important;
        }
        .product-add-form .fieldset {
            margin: 0 0 20px !important;
        }
        .product-add-form .swatch-opt {
            margin: 18px 0 18px !important;
        }
}

.header-nav-wide {
    border-top: 1px solid #d2d1da;
}

.header__search-wrapper {
    max-width: 770px;
    margin: auto;
}


/* pd reting & review design css */


.review-list .block-title strong {
    font-size: 20px !important;
    font-weight: 500 !important;
}
.review-field-rating label {
    display: block !important;
    padding-bottom: 5px !important;
    text-transform: capitalize !important;
}

.control.review-control-vote {
    width: 100% !important;
}

.review-fields-wrapper label {
    padding-bottom: 5px !important;
    display: block;
    text-transform: capitalize !important;
}

.review-field-ratings {
    border-bottom: 1px solid #d6d6d6 !important;
    padding-bottom: 15px !important;
    margin-bottom: 8px !important;
}

legend.legend.review-legend {
    font-size: 20px !important;
    margin-bottom: 15px !important;
}

.review-fieldset .review-fields-wrapper {
    padding-top: 10px !important;
}

.block.review-add {
    margin-top: 0px !important;
}

.product__after-desc-block {
    margin-bottom: 15px !important;
}

.button.quick-view {
    background-color: #fff !important;
    border: 1px solid #ccc;
}

@media only screen and (min-width: 1024px) {

.header--layout-6 .header__content .header__center.block-search.header__item-search .header__search-wrapper>form input {
    border: 1px solid #423882;
    padding: 20px 20px;
    border-radius: 35px;
}
button.action.search {
    padding-top: 2px !important;
    padding-right: 15px !important;
}
/* Menu css */
.ox-megamenu-navigation .ox-megamenu__dropdown {
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}
.menu-2-colum.parent .ox-megamenu__dropdown {
    width: 33%;
}
.menu-3-colum.parent .ox-megamenu__dropdown {
    width: 50%;
}
.menu-4-colum.parent .ox-megamenu__dropdown {
    width: 100%;
}
}

@media only screen and (max-width: 1024px) {

.ox-megamenu-navigation .ox-megamenu__dropdown {
        padding: 5px 4px 5px 28px !important;
}   
.ox-megamenu-navigation .ox-megamenu-block.ox-megamenu__categories {
        max-width: 100%;
        margin-bottom: 0;
}
.ox-dropdown--megamenu>.ox-megamenu__dropdown .ox-megamenu-list.row>li a {
    font-size: 15px;
    line-height: 25px;
}
.ox-dropdown--megamenu>.ox-megamenu__dropdown .ox-megamenu-list.row>li{
    border-bottom: 1px solid #ccc;
    padding: 5px;
}
}

/*.otica_recently_viewed {
    margin-top: 25px;
}*/

.ask-me-query-desktop a {
    display: flex;
    padding: 16px 35px;
    border: 1px solid #3e3a89;
    margin-left: 5px;
    color: #3e3a81;
    justify-content: center;
    align-items: center;
}

.ask-me-query-desktop .whatsapp-button-link {
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 1px;
}

.ask-me-query-desktop i {
    font-size: 17px;
    color: #5db407;
    line-height: 10px;
    margin-right: 5px;
}

.ask-me-query-mobile{
    display: none;
}
.ask-me-query-mobile a {
    display: flex;
    padding: 16px 35px;
    border: 1px solid #3e3a89;
    margin-left: 5px;
    color: #3e3a81;
    justify-content: center;
    align-items: center;

}

.ask-me-query-mobile .whatsapp-button-link {
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 1px;
}

.ask-me-query-mobile i {
    font-size: 17px;
    color: #5db407;
    line-height: 10px;
    margin-right: 5px;
}
@media only screen and (max-width: 768px) {
    .ask-me-query-mobile{
    display: block;
}
    .ask-me-query-desktop{
        display: none;
    }
}
/* pd-offer box design */

.main_product_offer h3 {
    font-size: 14px;
    color: #453e84;
    margin-bottom: 4px;
}

.main_product_offer p {
    font-size: 13px;
    line-height: 18px;
    margin-bottom: 0;
    color: #000;
}

.main_product_offer .pagebuilder-column {
    border: 1px solid #d7d7d7;
    padding: 12px 10px;
    border-radius: 2px;
    margin: 2px;
    box-shadow: 1px 1px 2px #ccc;
}
.offer h4 {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}
.offer h4 img {
    max-width: 20px;
    margin-right: 8px;
}
.main-product-usp div {
    width: 19%;
    text-align: center;
}

.main-product-usp {
    display: flex;
    flex-wrap: wrap;
    gap: 6px;
    margin-top: 20px;
}
.main-product-usp p {
    margin-bottom: 0;
    font-size: 13px;
    line-height: 20px;
}
.main-product-usp img{
    max-width: 45px;
}



@media only screen and (max-width: 600px) {

.main-product-usp div {
    width: 32%;
}
.main-product-usp {
    margin-bottom: 20px;
}

}


.athlete-reviews-wrapper{
    display: flex;
    gap: 20px;
    justify-content: space-between;
}
.otica-product-faq{
    width: 100%;
    margin-bottom: 30px;
}
.product-review {
    width: 100%;
}

.faq h4 {
    font-size: 20px !important;
    font-weight: 500 !important;
}

@media only screen and (max-width: 768px) {

.otica-product-faq {
    margin-bottom: 25px;
}
.athlete-reviews-wrapper {
    display: block;
}
.review-content-left {
    margin-top: 10px;
}
}

.otica-price-main {
    display: flex !important;
    align-items: center !important;
}

.cart.table-wrapper .otica-price-main {
    width: 160px;
    display: block !important;
}
.cart.table-wrapper .otica-price-main .discount-badge {
    display: inline-block;
    margin-top: 5px;
}

@media only screen and (max-width: 639px) {
.cart.table-wrapper .otica-price-main{
    width: 100px;
    text-align: left;
}
.cart.table-wrapper .otica-price-main .discount-badge {
  margin-left: 0;
}

.cart.table-wrapper .otica-price-main span.old-price {
    margin-left: 0px !important;
}
.cart.table-wrapper .product-item-photo {
        margin-right: 10px !important;
}
.cart.table-wrapper .product-item-name {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}
.minicart-items .product-item .product-item-name strong, .minicart-items .product-item .product-item-name a{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    font-size: 12px;
}
}

/* DESKTOP SUBMENU – fade + slide */

.ox-megamenu__dropdown{
    transform: translateY(10px) scaleY(0.98);
    transform-origin: top;
    transition: 
        max-height 0.45s ease,
        opacity 0.30s ease,
        transform 0.35s ease,
        visibility 0.30s ease !important;
    will-change: max-height, opacity, transform;
}

/* OPEN state */
.ox-megamenu__dropdown.opened.animate{
    opacity: 1;
    visibility: visible;
    transform: translateY(0) scaleY(1);
    pointer-events: auto;
}


.checkout-index-index .opc-block-summary .product-item .product-item-name-block {
    width: 66%;
}

.checkout-index-index .opc-block-summary .minicart-items .product-image-container {
    margin-left: 0 !important;
}


.checkout-index-index span.price-off-lab {
    background-color: #da0e0e;
    color: #fff;
    padding: 3px 3px;
    display: inline-block;
    font-size: 13px;
    font-weight: 600;
    margin-left: 5px;
}
.checkout-index-index .opc-block-summary .product-item .subtotal {
    display: block;
    text-align: right;
    justify-content: end;
    align-items: center;
}

.checkout-index-index .opc-block-summary .product-item .product-item-details .price-excluding-tax {
    padding-bottom: 5px;
}

.checkout-index-index strong.product-item-name {
    font-size: 14px !important;
    line-height: 20px !important;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.checkout-index-index .opc-block-summary .product-item .product-item-inner {
    display: flex;
    margin: 0;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
.discount-off-checkout {
    background-image: url(https://oticamart.com/media/wysiwyg/congratulation.gif);
    background-size: auto;
    background-position: center center;
    border: 1px solid #ccc;
    border-radius: 0px;
    margin-bottom: 20px;
    background-repeat: no-repeat;
    padding: 15px;
}
.discount-off-checkout h4 {
    text-align: center;
    font-size: 21px;
    font-weight: 500;
    margin-bottom: 0;
}
.discount-off-checkout p {
    text-align: center;
    line-height: 18px;
    margin-bottom: 0;
    padding-top: 5px;
}

.checkout-index-index .opc-block-summary .product-item .product{
    align-items: center !important;
}

.checkout-index-index span.price-off-price {
    text-decoration: line-through;
}

@media only screen and (max-width: 1024px) {

    .opc-block-summary .product-item .subtotal {
    text-align: left;
    margin-top: 13px;
}

    .checkout-index-index .opc-block-summary .product-item .product-item-inner{
    align-items: normal !important;
}

    .checkout-index-index .opc-block-summary .product-item .product-item-name-block {
    padding-right: 0px !important;
    width: 100% !important;
    }
   
}


.customer-account-create h1.page-title {
    padding-top: 0 !important;
    font-size: 26px ;
}

@media only screen and (min-width: 768px) {

.customer-account-login h1 {
    width: 100%;
    margin-bottom: 20px;
    font-size: 26px !important;
}

.login-container {
    margin: 40px auto !important;
}
}
div#social-login-popup {
    display: none;
}
.otica-login-popup {
    width: 100%;
    display: flex;
    margin-bottom: 20px;
    justify-content: space-between;
    gap: 10px;
}
.otica-login-popup .social-btn a {
    width: 100%;
}
.otica-login-popup .social-btn{
    width: 100%;
}
.catalog-product-view .product.attribute.sku {
    display: none !important;
}

.login-container .fieldset>.field {
    margin-bottom: 12px !important;
}
.form.create.account>.fieldset>.legend {
    margin-bottom: 18px !important;
}

.login-container .block-customer-login .block-title {
    margin-bottom: 15px !important;
}

.catalog-product-view .product-id {
    margin-bottom: 15px;
}

.catalog-product-view .setblue-sales-counter {
    background-color: #ffdfdf;
    display: inline-flex !important;
    padding: 5px 25px;
    color: #000 !important;
    border-radius: 4px;
    font-weight: 500 !important;
    align-items: center;
    margin-bottom: 10px;
}

.catalog-product-view .setblue-sales-counter .sales-icon {
    width: 25px;
    height: 25px;
    margin-right: 6px;
}

.catalog-product-view .setblue-sales-counter .sales-text {
    line-height: 1.4;
}

.otica-slider-actions .actions-primary {
    padding: 0px !important;
    margin-bottom: 5px;
    margin-top: 7px;
}
.otica-slider-actions form {
    width: 100%;
}
.otica-slider-actions button.action.tocart.primary{
    width: 100%;
}
.otica-slider-actions .product-item a.button.quick-view{
    border: 1px solid #94ad3f;
    color: #000;
}


/* ----------------------orders-history css */


.orders-history .order-status {
    border: none;
    margin-bottom: 0;
    text-transform: capitalize;
    font-weight: 500;
    border-radius: 50px;
    font-size: 13px;
    padding: 4px 15px;
    color: #fff;
}
.order-status.Canceled {
    background-color: #b20303;
}

span.order-status.Closed {
    background-color: #f43a3a;
}

span.order-status.Complete {
    background-color: #09b06e;
}
span.order-status.Processing {
    background-color: #358aff;
}
span.order-status.Pending {
    background-color: #f8aa45;
}
.orders-history .cancel-order{
    font-weight: 600;
    text-transform: uppercase;
    border-bottom: 2px solid #413781;
}


@media only screen and (max-width: 639px) {
.orders-history .image::before {
    display: none !important;
}
.orders-history .table-order-items tr {
    border: 1px solid #e3e3e3;
    padding: 12px;
    margin-bottom: 10px;
    box-shadow: 1px 2px 1px #0000001a;
}

.orders-history .table-order-items tr td {
    padding: 0px 0px !important;
    font-size: 13px;
}

.account .data.table .col:first-child {
    border-top: 0 !important;
}
form#reorder-validate-detail .secondary {
    width: 50%;
}
}
.checkout-index-index tr.totals-tax-summary {
    display: none !important;
}
a.sams-show-toggle {
    cursor: pointer;
    color: rgb(59, 88, 146);
    font-weight: 600;
    margin-top: 15px;
    padding-top: 10px;
    display: block;
    border-top: 1px solid rgb(204, 204, 204);
}
/*Blog page css*/
.post-list article .post-image-wrapper {
    margin-bottom: 10px;
}
.post-description h1 {
    font-size: 28px;
}
.post-description h2 {
    font-size: 24px !important;
}
.post-description h3 {
    font-size: 20px !important;
}
.post-holder.post-holder-2 .post-date {
    display: none;
}
.otica_faq h3 {
    font-size: 16px !important;
}
.otica_faq h3[data-content-type=heading] {
    margin: 4px 0 0 0;
}
.otica_bestselling_products .product-item-name{
    text-align: center;
}
.checkout-index-index tr.totals.charge {
    display: none;
}
.payment-method-title a.action.action-help {
    display: none !important;
}