.data-grid td.pending {
    background: #fff8e8;
    border-color: #f7c65d;
}
.data-grid tr._odd-row td.pending{
    background: #fff8e8;
    border-color: #f7c65d;
}
.data-grid tr:hover._odd-row td.pending{
    background-color: #e5f7fe;
}
.data-grid td.processing {
    background: #eef7ff;
    border-color: #6aaeff;
}
.data-grid tr._odd-row td.processing{
    background: #eef7ff;
    border-color: #6aaeff;
}
.data-grid tr:hover._odd-row td.processing{
    background-color: #e5f7fe;
}
.data-grid td.holded {
    background: #fff5eb;
    border-color: #ffb366;
}
.data-grid tr._odd-row td.holded{
    background: #fff5eb;
    border-color: #ffb366;
}
.data-grid tr:hover._odd-row td.holded{
    background-color: #e5f7fe;
}
.data-grid td.complete {
    background: #effcf4;
    border-color: #66d38f;
}
.data-grid tr._odd-row td.complete{
    background: #effcf4;
    border-color: #66d38f;
}
.data-grid tr:hover._odd-row td.complete{
    background-color: #e5f7fe;
}
.data-grid tr:hover td {
    background-color: #e5f7fe;
}
.data-grid td.closed {
    background: #f4f4f4;
    border-color: #bdbdbd;
}
.data-grid tr:hover._odd-row td.closed{
    background-color: #e5f7fe;
}
.data-grid tr._odd-row td.closed{
    background: #f4f4f4;
    border-color: #bdbdbd;
}
.data-grid td.canceled {
    background: #fff1f1;
    border-color: #ff9b9b;
}
.data-grid tr._odd-row td.canceled{
    background: #fff1f1;
    border-color: #ff9b9b;
}
.data-grid tr:hover._odd-row td.canceled{
    background-color: #e5f7fe;
}
