<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">

    <system>
        <tab id="setblue" translate="label" sortOrder="201">
            <label>Setblue</label>
        </tab>
        <section id="setblue_allemailccbcc"
                 translate="label"
                 sortOrder="10"
                 showInDefault="1"
                 showInWebsite="1"
                 showInStore="1">

            <label>All Email CC / BCC</label>
            <tab>setblue</tab>
            <resource>Setblue_AllEmailCcBcc::config_setblue_allemailccbcc</resource>

            <group id="general"
                   translate="label"
                   type="text"
                   sortOrder="10"
                   showInDefault="1"
                   showInWebsite="1"
                   showInStore="1">

                <label>General Settings</label>

                <field id="enabled"
                       translate="label"
                       type="select"
                       sortOrder="10"
                       showInDefault="1"
                       showInWebsite="1"
                       showInStore="1">

                    <label>Enable Module</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>

                </field>

                <field id="cc_email"
                       translate="label"
                       type="text"
                       sortOrder="20"
                       showInDefault="1"
                       showInWebsite="1"
                       showInStore="1">

                    <label>CC Emails</label>
                    <comment>Enter multiple emails separated by comma</comment>

                    <depends>
                        <field id="enabled">1</field>
                    </depends>

                </field>

                <field id="bcc_email"
                       translate="label"
                       type="text"
                       sortOrder="30"
                       showInDefault="1"
                       showInWebsite="1"
                       showInStore="1">

                    <label>BCC Emails</label>
                    <comment>Enter multiple emails separated by comma</comment>

                    <depends>
                        <field id="enabled">1</field>
                    </depends>

                </field>

            </group>

        </section>

    </system>
</config>