<?xml version="1.0" ?>
<!--
/**
 * Setblue
 * Copyright(C) 04/2023 Setblue <ideveloper1990@gmail.com>
 * @package Setblue_CustomerWholesaleInquiry
 * @copyright Copyright(C) 2015 Setblue (ideveloper1990@gmail.com)
 * @author Setblue <ideveloper1990@gmail.com>
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
	<router id="admin">
		<route frontName="wholesaleinquiry" id="wholesaleinquiry">
			<module before="Setblue_CustomerWholesaleInquiry" name="Setblue_CustomerWholesaleInquiry"/>
		</route>
	</router>
</config>
