// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Base
//  _____________________________________________
& when (@media-common = true) {
    .ox-animate{
        &.animated{

            animation-duration: 1s;

            animation-fill-mode: both;
        }
        &.forwards{

            animation-fill-mode: forwards;
        }
    }
}