<?xml version="1.0"?>
<!-- /**
 * Setblue 
 * @category    Setblue 
 * @copyright   Copyright (c) 2025 Setblue (http://www.setblue.com/) 
 * @Author: setblue.com
 * @Create Date: 2025-03-25 05:50:55
 */ -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
    	    <add id="Setblue_Magicslider::magicslider" title="Magic Slider" module="Setblue_Magicslider" sortOrder="10" resource="Setblue_Magicslider::magicslider"/>
			<add id="Setblue_Magicslider::magicslider_index" title="Banner Slider" module="Setblue_Magicslider" sortOrder="10" parent="Setblue_Magicslider::magicslider" action="magicslider/index" resource="Setblue_Magicslider::magicslider_index" target="_blank"/>
    </menu>
</config>
